* {	
	padding: 0;
	margin: 0;
}


.page-container {
	position: absolute;
	top: 70px;
	right: 70px;
	bottom: 0;
	left: 70px;
	min-height: 800px; /* Distance from list to top */ 
}

.page-header{
}

.list-container { /* Contains individual list items */
	position: absolute;	
	right: 0;
	bottom: 0;
	left: 0;
	border-top:1px solid black;
}

.list-row { /* Individual list items */
	padding: 60px 0 80px 0;
	border-top:1px solid black;
}

.list-column-left {
	position: absolute;
	left: 0;
}

.list-column-right {
	position: absolute;
	right: 0;
	direction: rtl;
}

@media only screen and (max-width: 650px) { /* Minimum desktop, indent */

.list-row {
	padding-bottom: 45px; /* Reduced */
}

.list-column-left {
	position: relative;
}

.list-column-right {
	position: relative;
	left: 0;
	direction: ltr;
	padding: 6px 0 0 0;
}

@media only screen and (max-width: 490px) {

.page-container {
	position: absolute;
	top: 60px;
	right: 30px;
	bottom: 0;
	left: 30px;
	min-height: 0px; /* Distance from list to top */ 
}

.page-header{
	height: 400px;
}

.list-container { /* Contains individual list items */
	top: 65%;
}

.list-row { /* Reduce padding */
	padding: 40px 0 35px 0;
}

.list-column-left {
	width: 90%;
}

.list-column-right {
	padding: 8px 0 0 0;
}
