* {	
	font-family: primary;
	font-size: 23px;
	font-weight: 400;
	line-height: 1em;
	color: #111111;
	background-color: #F4EDEC;
}

.header {
	font-family: adobe-caslon-pro, serif;
}

.page-header{
	font-size: 26px;
}

.list-column-left {
	font-size: 25px;
}

.arrow {
	width: 26px;
	padding: 6px 0 0 0;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:hover .list-row {
	transform: translate(5px,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}

* {

	-webkit-font-smoothing: none; /* Page transition */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box; /* Media query transition */
  	-moz-box-sizing: border-box;
}

@font-face {
	font-family: "primary";
	src: url("../fonts/primary.otf") format("opentype");
}
